<div class="col col-sm-3 mb-3">
	<h2>Navigation</h2>
	<div class="ml-2">
		<a href="/">Dashboar</a>
		<br>
		<a href="/products">Products</a>
		<br>
		<a href="/orders">Orders</a>
		<br>
		<a href="/customers">Customers</a>
		<br>
		<input type="text" class="form-group" placeholder="Search...">
	</div>
</div>
<div class="col col-md mb-3">
	<h2>Products:</h2>
	<h4>New Product: </h4>
	@model NiceStoreView;
	<form asp-action="NewProduct" asp-controller="Home" method="post">
		<div class="form-group">
			<span asp-validation-for="NewProduct.Name"></span>
			<label asp-for="NewProduct.Name">Name</label>
			<input asp-for="NewProduct.Name" class="form-control">
		</div>
		<div class="form-group">
			<span asp-validation-for="NewProduct.Url"></span>
			<label asp-for="NewProduct.Url">Url</label>
			<input asp-for="NewProduct.Url" class="form-control">
		</div>
		<div class="form-group">
			<span asp-validation-for="NewProduct.stock"></span>
			<label asp-for="NewProduct.stock">Stock</label>
			<input asp-for="NewProduct.stock" class="form-control">
		</div>
		<div class="form-group">
			<span asp-validation-for="NewProduct.price"></span>
			<label asp-for="NewProduct.price">Price</label>
			<input asp-for="NewProduct.price" class="form-control" value="1">
		</div>
		<div class="form-group">
			<button class="btn btn-info">Submit Order</button>
		</div>
	</form>

	<h4>All Products:</h4>
	@{foreach (Product product in Model.Products)
	{
		<p><b>@product.Name:</b> Price: @product.price Stock: @product.stock </p>
	}}
	
</div>